.main {
  &_search {
    margin-bottom: 20px;
  }
}
.empty {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

.repositories_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media (max-width: 700px) {
  .repositories {
    &_list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .repositories {
    &_list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}